node_modules
.direnv/
.DS_Store
dist
dist-ssr
internal/server/static/*
!internal/server/static/placeholder.txt
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
.device-keys.json
tmp/
